.cart{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 400px;
    height: 220px;
    position: absolute;
    top: 8%;
    right: 2rem;
    z-index: 10;
    transition: all .3s ease-in-out;
    border-radius: 10px;
}

.cart.hidden{
    right: -100%;
    visibility: hidden;
}

.cart-items{
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
}

.cart-title{
    height: 50px;
    border-bottom: 2px solid hsl(223, 64%, 98%);
    background-color: white;
    width: 100%;
    font-weight: 700;
    padding: 1rem 2rem;
    border-radius: 10px 10px 0 0;
}

#cart-img{
    width: 15%;
    border-radius: 10px;
}

.items-info{
    padding: 0 10px;
    line-height: 1.5rem;
}

.delete-div{
    margin-left: 2rem;
}

#delete{
    cursor: pointer;
}

#total{
    font-weight: 700;
    margin-left: 20px;
}

.checkout{
    padding: 1rem 2rem;
    border-radius: 0 0 10px 10px;
}

#checkout-btn{
    width: 100%;
    padding: 15px 0;
    background-color: hsl(26, 100%, 55%);
    border: none;
    outline: none;
    border-radius: 10px;
    color: white;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
    cursor: pointer;
    transition: opacity .3s ease;
}

#checkout-btn:hover{
    opacity: .7;
}

.no-items{
    display: flex;
    height: 70%;
    justify-content: center;
    align-items: center;
}

.no-items span{
    color: hsl(219, 9%, 45%);
    font-weight: 700;
}

.checkout, .cart-items, .no-items, .cart{
    background-color: white;
}


@media only screen and (min-width: 2560px) {
    .cart{
        width: 550px;
        height: 330px;
    }
    
    .cart-title{
        font-size: 1.5rem;
        padding: .5rem 2rem;
    }

    #cart-img{
        width: 30%;
    }

    #items-info-title{
        font-size: 1.5rem;
        width: 100%;
    }
    #delete{
        transform: scale(2)
    }

    #items-info-price, #quantity, #total{
        font-size: 1.5rem;
    }

    #checkout-btn{
        font-size: 1.5rem
    }
}

@media only screen and (max-width: 1500px){
    .cart{
        height: 200px;
    }

    .cart-items{
        padding-bottom: .5rem;
    }

@media only screen and (max-width: 900px){
    .cart{
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        width: 400px;
        height: 220px;
        position: absolute;
        top: 8%;
        right: 2rem;
        z-index: 10;
        opacity: 1;
        transition: all .3s ease;
    }
    
    .cart.hidden{
        right: 2rem;
        opacity: 0;
    }
}

@media only screen and (max-width: 425px){
    .cart{
        top: 20%;
        right: 2.5%;
    }

    .cart.hidden{
        right: 2.5%;
    }
}

@media only screen and (max-width: 380px){
    .cart{
        top: 20%;
        right: 3%;
        width: 350px;
    }

    .cart.hidden{
        right: 3%;
    }
}

@media only screen and (max-width: 350px){
    .cart{
        top: 20%;
        right: 1%;
        width: 330px;
    }

    .cart.hidden{
        right: 1%;
    }
}

@media only screen and (max-width: 320px){
    .cart{
        top: 15%;
        right: 2%;
        width: 310px;
    }

    .cart.hidden{
        right: 2%;
    }
}

}