.header-row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 5rem;
}

.close-mobile-menu{
    display: none;
}

.header-col-1{
    width: 5%;
}

.header-col-2{
    width: 50%;
}

.header-col-3{
    width: 20%;
}

.ul-menu{
    display: flex;
    list-style: none;
}

.li-menu{
    margin: 0 2rem;
}

.menu-item{
    color: hsl(220, 14%, 75%);
    padding-bottom: 1.55rem;
    cursor: pointer;
}

.menu-item:hover{
    border-bottom: 5px solid hsl(26, 100%, 55%);
    color: hsl(220, 13%, 13%);
}

.cp{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.cart-header{
    margin-right: 2rem;
    position: relative;
    top: 5px;
}

.notification{
    background-color: hsl(26, 100%, 55%);
    border-radius: 30px;
    color: white;
    font-size: .7rem;
    position: absolute;
    left: 10px;
    padding: 3px 6px;
    top: -10px;
}

.notification.hidden{
    display: none;
}

#avatar{
    border: 2px solid transparent;
    border-radius: 50%;
    max-width: 50px;
    width: 100%;
    cursor: pointer;
    transition: all .2s ease;
}

#cart{
    cursor: pointer;
}

#avatar:hover{
    border: 2px solid hsl(26, 100%, 55%);
}

#border{
    height: 2px;
    background-color: hsl(223, 64%, 98%);
    border: none;
    width: 92%;
    
}

#border-div{
    display: flex;
    width: 100%;
    justify-content: center;
}

.hamburguer{
    display: none;
}

@media only screen and (max-width: 950px){
    .li-menu{
        margin: 0 1.5rem;
    }
}

@media only screen and (max-width: 900px){

    body{
        position:unset;
        max-width: 100vw;
    }

    .close-mobile-menu{
        display: block;
    }

    .hamburguer{
        display: block;
        position: absolute;
        left: 1.5rem;
        top: 2rem;
    }

    .header-row{
        justify-content: space-evenly;
    }

    .ul-menu.hidden{
        left: -200%;
    }

    #logo{
        margin-left: 1rem;
    }

    .ul-menu{
        background-color: white;
        flex-direction: column;
        height: 100vh;
        justify-content: flex-start;
        padding-top: 2rem;
        position: absolute;
        top: 0;
        left: 0;
        transition: all .3s ease;
        width: 400px;
        z-index: 20;
    }

    .li-menu{
        margin-bottom: 1.5rem;
    }

    .li-menu:nth-child(2){
        margin-top: 1.5rem;
    }

    .menu-item{
        color: black;
        font-weight: 700;
        padding-bottom: 0;
        font-size: 1.2rem;
    }

    .menu-item:hover{
        border-bottom: none;
        color: hsl(26, 100%, 55%);
    }

    .close-mobile-menu{
        font-weight: 700;
        color: hsl(220, 14%, 75%);
    }

@media only screen and (max-width: 425px){
    #logo{
        margin-left: 2rem;
    }
}

@media only screen and (max-width: 375px){
    .ul-menu{
        width: 80%;
    }   
}

@media only screen and (max-width: 320px){
    .cart-header{
        margin-right: 10px;
    }
}

}